@model WebXeGanMay.Models.XEGANMAY

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Detail</h2>

 <div class="container">
    <h4>XEGANMAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            <img src="~/content/Images/XE/@Model.Anhbia" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIXE.TenLoaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIXE.TenLoaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHAPHANPHOI.TenNPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAPHANPHOI.TenNPP)
        </dd>

    </dl>
</div>
<div >
    <a href=" @Html.ActionLink("Đặt xe", "themGioiHang", new { id = Model.MaXe , url = Request.Url.ToString()}) ">
      Đặt mua
    </a>
</div>
