@using WebXeGanMay.Models
@model List<WebXeGanMay.Controllers.GioHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/content/css/gioiHang.css?v=@DateTime.Now.Ticks" rel="stylesheet" />

}
<div class="container">
    <h2 style="text-align:center;">THÔNG TIN GIỎ HÀNG</h2>

    <table align="center" border="1">
        <tr style="text-align:center; font-weight:bold">
            <td>Mã xe</td>
            <td>Tên Xe</td>
            <td>Ảnh bìa</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="text-align:center; font-weight:bold">
                <td>@item.smaXe</td>
                <td>@item.stenXe</td>
                <td><img src="~/content/Images/XE/@item.sAnhBia" width="250px" alt="Ảnh sách" /></td>

                @using (Html.BeginForm("CapNhat", "GioHang", new { id = item.smaXe }))
                {
                    <td><input type="number" min="1" name="txtSoluong" value="@item.soLuong" style="background-color: yellow" /></td>
                    <td>@String.Format("{0:0,0}", item.sdonGia)</td>
                    <td>@String.Format("{0:0,0}", item.dThanhTien)</td>
                    <td><a href="@Url.Action("Detail", "Store", new { id = item.smaXe })">Chi  Tiết</a></td>
                    <td><a href="@Url.Action("Xoa", "GioHang", new { id = item.smaXe })"> Xóa</a></td>
                    <td><input type="submit" value="Cập Nhật" /></td>
                }

            </tr>
        }

        <tr style="font-weight: bold; text-align:right; color:red">
            <td colspan="4">Số lượng sách:</td>
            <td>@ViewData["TongSoLuong"]</td>
        </tr>

        <tr style="font-weight: bold; text-align:right; color:red">
            <td colspan="5">Tổng tiền:</td>
            <td>@String.Format("{0:0,0}", ViewData["TongTien"]) VND</td>
        </tr>
        <tr style="font-weight: bold; text-align:right; color:red">
            <td colspan="9">
                @Html.ActionLink("Xóa Tất cả", "XoaTatCa", "GioHang")
            </td>
        </tr>
        <tr style="font-weight: bold; text-align:right; color:red">
            <td colspan="9">
                @Html.ActionLink("Đặt Hàng", "DonHang", "GioHang")
            </td>
        </tr>
    </table>
</div>
